<!DOCTYPE html>
<html>

<div id="Welcome Mentor">Hello Mentor</div>
<div id="Welcome Student">Hello Student</div>

<script>
  if (<%= isFirst %>) {
    document.getElementById('Welcome Mentor').style.display = 'block';
    document.getElementById('Welcome Student').style.display = 'none';
  } else {
    document.getElementById('Welcome Student').style.display = 'block';
    document.getElementById('Welcome Mentor').style.display = 'none';
  }
</script>

<head>
  <title>Code Block Details</title>
  <!-- Add the Highlight.js library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>

  <!-- Add the desired CSS theme for syntax highlighting -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css" rel="stylesheet">

  <!-- Inline CSS for the big smiley -->
  <link rel="stylesheet" href="/css/code-block.css">

</head>

<body>
  <h1>Code Block Details</h1>
  <div id="code-block">
    <h2>
      <%= codeBlock.title %>
    </h2>
    <pre>
    <code id="codeArea" rows="10" cols="80" contenteditable="true">
      <%= codeBlock.code %>
    </code>
  </pre>

    <script>
      hljs.highlightElement(document.getElementById("codeArea"), { language: "javascript" });
    </script>

    <!-- Add the big smiley with the "big-smiley" class -->
    <p id="big-smiley" class="big-smiley">&#x1F604;</p>

    <script>
      // If isFirst, make the codeArea readonly
      if (<%= isFirst %>) {
        const codeArea = document.getElementById('codeArea');
        codeArea.setAttribute('contenteditable', false);
      }

      // WebSocket connection
      const socket = new WebSocket('ws://' + window.location.host);

      codeArea = document.getElementById('codeArea');

      let typingTimer;
      const doneTypingInterval = 3000; // Adjust the time interval in milliseconds (3 seconds in this example)

      function doneTyping() {
        hljs.highlightElement(codeArea, { language: "javascript" });
      }

      function resetTypingTimer() {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(doneTyping, doneTypingInterval);
      }

      // Listen for changes to the code
      codeArea.addEventListener('input', (event) => {
        const selection = document.getSelection();
        const caretPosition = selection.anchorOffset;
        // Send to the second user
        socket.send(JSON.stringify({ innerText: codeArea.innerText, caretPosition: caretPosition }));
        resetTypingTimer();
      });

      // code change message from server
      socket.addEventListener('message', (event) => {
        const parsed = JSON.parse(event.data);
        // Update the code in the first user's screen
        const codeArea = document.getElementById('codeArea');
        var solution = <%- JSON.stringify(codeBlock.solution) %>;
        if (parsed.innerText == solution) {
          document.getElementById('big-smiley').style.display = 'block';
        } else{
          document.getElementById('big-smiley').style.display = 'none';
        }
        if (<%= isFirst %>) {
          codeArea.innerText = parsed.innerText;
          hljs.highlightElement(codeArea, { language: "javascript" });
        }
      });
    </script>
  </div>
</body>

</html>
